.alert-success {
  background-color: get-color(main);
  padding: 16px;
  text-transform: capitalize;
  span {
    display: block
  }
}

.alert-danger {
  @extend .alert-success;
  background-color: get-color(error);
}

.alert-hint {
  @extend .alert-success;
  background-color: get-color(sec);
  ul {
    margin-top: 1rem;
    li {
      span {
        color: get-color(light);
        display: flex;
        align-items: center;
        &::before {
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: get-color(main);
          margin-#{$end}: .5rem;
        }
      }
    }
  }
}