.create-item-btn {
  position: fixed;
  z-index: 5;
  bottom: 1rem;
  #{$end}: 1rem;
  @include mediumScreen {
    bottom: 3rem;
    #{$end}: 3rem;
  }
}

.update-item, .pdf-item, .download-item {
  color: get-color(main);
  margin-#{$start}: .5rem;
  font-size: 18px;
}

.delete-item {
  margin-#{$start}: .5rem;
  color: get-color(error);
  font-size: 20px;
}

.change-password-item {
  margin-#{$end}: .5rem;
  color: get-color(sec);
}

.check-all-permissions {
  margin-#{$end}: 1rem;
}