.main-form {
  .input-field {
    input {
      border-bottom: 1px solid get-color(border);
      &::placeholder {
        text-transform: capitalize;
        color: rgba(get-color(dark), .7);
        font-size: 15px;
      }
    }
    label {
      text-transform: capitalize;
      color: get-color(main);
      font-weight: bold;
      font-size: 13px;
      #{$start}: 0.75rem;
      #{$end}: auto;
    }
  }
  .media-block {
    margin-top: 1rem;
    position: relative;
    input[type="file"] {
      display: none;
    }
    .media-view {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      &:hover {
        a.material-icons {
          opacity: 1;
        }
      }
      h4 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        background: get-color(light);
        color: get-color(main);
        border: 5px dashed get-color(border);
        text-align: center;
        padding: 1rem;
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      a.material-icons {
        position: absolute;
        top: 15px;
        cursor: pointer;
        opacity: 0;
        transition: .3s;
        margin: 0 .3rem;
        padding: .3rem;
        &.clear-media {
          #{$start}: 15px;
          background-color: get-color(error);
          color: get-color(light);
          border-radius: 5px;
        }
        &.view-media {
          background-color: get-color(bg);
          color: get-color(main);
          #{$start}: 60px;
        }
      }
    }
    label {
      display: block;
      cursor: pointer;
      .media-container {
        border-radius: 5px;
        border: 5px dashed get-color(border);
        height: 250px;
        background-color: get-color(bg1);
        display: flex;
        align-items: center;
        justify-content: center;
        color: get-color(main);
        font-size: 25px;
        .media-title {
          display: none;
          padding-#{$start}: 1rem;
          @include smallScreen {
            display: block;
          }
        }
      }
    }
  }
}