.modal {
  h4, h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
  }
  h4 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
}