.search-code-content {
  position: relative;
  &__items {
    position: absolute;
    top: 100%;
    z-index: 45;
    #{$start}: 0;
    padding: 1rem;
    height: 250px;
    max-height: 250px;
    width: 100%;
    overflow-y: auto;
    background: get-color(light);
    box-shadow: 0 2px 4px rgba(get-color(dark), .1);
    &.hide {
      display: none;
      & ~ .pagination-block {
        display: none;
      }
    }
    button {
      background: none;
      border: none;
      border-bottom: 1px solid get-color(border);
      padding: 1rem;
      cursor: pointer;
      width: 100%;
      margin-bottom: 1rem;
      color: get-color(main);
      &:last-child {
        margin: 0;
      }
    }
  }
  .pagination-block {
    background: get-color(light);
    box-shadow: 0 2px 4px rgba(get-color(dark), .1);
    padding: .5rem 1rem;
    border-top: 1px solid get-color(border);
    width: 100%;
    position: absolute;
    top: calc(100% + 250px);
    z-index: 45;
    #{$start}: 0;
  }
}