.tabs {
  margin-bottom: 2rem;
  .tab {
    padding-#{$end}: 1rem;
    a {
      padding: 0;
      text-align: $start;
      color: get-color(dark);
      text-transform: capitalize;
      &:focus {
        background-color: transparent !important;
      }
    }
  }
  .indicator {
    width: 30px;
  }
}