section.info_section.layout_padding2
  .container
    .row
      .col-md-6.col-lg-4.info-col
        .info_detail
          h4.
            
            About Us
            
          p.
            
            Vitae aut explicabo fugit facere alias distinctio, exem commodi mollitia minusem dignissimos atque asperiores incidunt vel voluptate iste
            
          .info_social
            a(href)
              i.fa.fa-facebook(aria-hidden='true')
            a(href)
              i.fa.fa-twitter(aria-hidden='true')
            a(href)
              i.fa.fa-linkedin(aria-hidden='true')
            a(href)
              i.fa.fa-instagram(aria-hidden='true')
      .col-md-6.col-lg-4.info-col
        .info_contact
          h4.
            
            Address
            
          .contact_link_box
            a(href)
              i.fa.fa-map-marker(aria-hidden='true')
              span.
                
                Location
                
            a(href)
              i.fa.fa-phone(aria-hidden='true')
              span.
                
                Call +01 1234567890
                
            a(href)
              i.fa.fa-envelope(aria-hidden='true')
              span.
                
                demo@gmail.com
                
      .col-md-6.col-lg-4.info-col
        .info_contact
          h4.
            
            Newsletter
            
          form(action='#')
            input(type='text' placeholder='Enter email')
            button(type='submit').
              
              Subscribe

footer.footer_section
  .container
    p @
      span #{lingua.client.general.footer.copyrights} Muhammed Mashhour