extends ../core

block title
  title about us

block body

  section.about_section.layout_padding
    .container
      .row
        .col-md-6
          .img-box
            img(src='/client/images/about-img.png' alt)
        .col-md-6
          .detail-box
            .heading_container
              h2.
                
                About Our Bookstore
                
            p.
              
              At cumque tenetur iste molestiae, vel eum reiciendis assumenda! Numquam, repudiandae. Consequuntur obcaecati recusandae aliquam, amet doloribus eius dolores officiis cumque? Quibusdam praesentium pariatur sapiente mollitia, amet hic iusto voluptas! Iusto quo earum vitae excepturi, ipsam aliquid deleniti assumenda culpa deserunt.
              
            a(href).
              
              Read More