extends ../core

block title
  title blog

block body
  section.blog_section.layout_padding
    .container
      .heading_container.heading_center
        h2 From Our Blog
          
      .row
        .col-md-6
          .box
            .img-box
              img(src='images/b1.jpg' alt)
              h4.blog_date
                span 19 January 2021
                  
            .detail-box
              h5 Eius, dolor? Vel velit sed doloremque
              p Incidunt magni explicabo ullam ipsa quo consequuntur eveniet illo? Aspernatur nam dolorem a neque? Esse eaque dolores hic debitis cupiditate, ad beatae voluptatem numquam dignissimos ab porro
                
              a(href) Read More
                
        .col-md-6
          .box
            .img-box
              img(src='images/b2.jpg' alt)
              h4.blog_date
                span.
                  
                  19 January 2021
                  
            .detail-box
              h5.
                
                Minus aliquid alias porro iure fuga
                
              p.
                
                Officiis veritatis id illo eligendi repellat facilis animi adipisci praesentium. Tempore ab provident porro illo ex obcaecati deleniti enim sequi voluptas at. Harum veniam eos nisi distinctio! Porro, reiciendis eius.
                
              a(href).
                
                Read More