extends ../core

block title
  title categories

block body
  section.catagory_section.layout_padding
    .catagory_container
      .container
        .heading_container.heading_center
          h2 All Categories
            
        .row
          for category, index in categories
            .col-sm-6.col-md-4
              .box
                .img-box
                  img(src=`/client/images/cat${index < 5 ? index + 1 : 1 }.png`)
                .detail-box
                  h5= category.name
                  p= category.description