body {
  font-family: "Montserrat-regular", sans-serif;
  background: get-color(bg1);
  &.nav-open {
    @media (max-width: 991px) {
      .sidebar-overlay {
        display: block;
      }
      .sidebar {
        #{$start}: 0;
      }
    }
  }
  &.nav-fluded {
    @include largeScreen {
      .sidebar {
        width: 80px;
        &__user {
          display: none;
        }
        .collapsible-header {
          div {
            &:nth-child(1) {
              .title {
                display: none;
              }
            }
            &:nth-child(2) {
              display: none;
            }
          }
        }
        .collapsible-body {
          ul {
            display: none;
          }
        }
      }
      section.content {
        margin-#{$start}: 80px;
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: get-color(main);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

span.card-title {
  display: inline-block !important;
  text-transform: capitalize;
  font-weight: bold;
  padding-bottom: 1rem;
  position: relative;
  margin-bottom: 1.5rem !important;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    #{$start}: 0;
    width: 40%;
    height: 2px;
    background-color: get-color(main);
  }
}

.overflow-auto {
  overflow: auto;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.d-none {
  display: none !important;
}

.w-100 {
  width: 100%;
}

.delete-item-head {
  text-transform: capitalize;
  font-size: 18px;
}

input.error {
  border-color: get-color(error) !important;
  box-shadow: none !important;
}

table {
  thead {
    tr {
      th {
        white-space: nowrap;
        text-transform: capitalize;
      }
    }
  }
}

img {
  max-width: 100%;
}

.user-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.user-status {
  color: get-color(main);
  text-transform: uppercase;
  &.pending {
    color: get-color(error);
  }
}

.empty-items-lines {
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-size: 22px;
  width: 100%;
}

.material-tooltip {
  background-color: get-color(main);
  text-transform: capitalize;
}


.code-is-active, .code-status {
  display: inline-flex;
  border-radius: 5px;
  padding: .3rem .5rem;
  color: get-color(light);
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 14px;
  .material-icons {
    margin-#{$end}: .5rem;
    font-size: 14px;
    line-height: 20px;
  }
  &.code-active {
    background: get-color(main);
  }
  &.code-not-active {
    background: get-color(error);
  }
  &.approved {
    background: get-color(main);
  }
  &.pending {
    background: get-color(error);
  }
}