@mixin font-face($font-name, $file-name) {
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.eot');
    src: url($file-name + '.eot?#iefix') format('embedded-opentype'),
    url($file-name + '.woff') format('woff'),
    url($file-name + '.ttf') format('truetype'),
    url($file-name + '.svg##{$font-name}') format('svg');
  }
}


@mixin smallScreen {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin mediumScreen {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin largeScreen {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin xLargeScreen {
  @media screen and (min-width: 992px) {
    @content;
  }
}