@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Bold.svg#Montserrat-bold") format("svg");
}

@font-face {
  font-family: "Montserrat-regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-regular") format("svg");
}

@font-face {
  font-family: "Montserrat-medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Medium.svg#Montserrat-medium") format("svg");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
  margin: 0;
}

.card, .card-panel {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.row {
  margin-bottom: 0;
}

.no-position {
  position: static !important;
}

.collapsible-header i {
  margin: auto !important;
}

body {
  font-family: "Montserrat-regular", sans-serif;
  background: #F5F7FB;
}

@media (max-width: 991px) {
  body.nav-open .sidebar-overlay {
    display: block;
  }
  body.nav-open .sidebar {
    left: 0;
  }
}

@media screen and (min-width: 992px) {
  body.nav-fluded .sidebar {
    width: 80px;
  }
  body.nav-fluded .sidebar__user {
    display: none;
  }
  body.nav-fluded .sidebar .collapsible-header div:nth-child(1) .title {
    display: none;
  }
  body.nav-fluded .sidebar .collapsible-header div:nth-child(2) {
    display: none;
  }
  body.nav-fluded .sidebar .collapsible-body ul {
    display: none;
  }
  body.nav-fluded section.content {
    margin-left: 80px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2a7f77;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

span.card-title {
  display: inline-block !important;
  text-transform: capitalize;
  font-weight: bold;
  padding-bottom: 1rem;
  position: relative;
  margin-bottom: 1.5rem !important;
}

span.card-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: #2a7f77;
}

.overflow-auto {
  overflow: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d-none {
  display: none !important;
}

.w-100 {
  width: 100%;
}

.delete-item-head {
  text-transform: capitalize;
  font-size: 18px;
}

input.error {
  border-color: #ee6e73 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

table thead tr th {
  white-space: nowrap;
  text-transform: capitalize;
}

img {
  max-width: 100%;
}

.user-avatar {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.user-status {
  color: #2a7f77;
  text-transform: uppercase;
}

.user-status.pending {
  color: #ee6e73;
}

.empty-items-lines {
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-size: 22px;
  width: 100%;
}

.material-tooltip {
  background-color: #2a7f77;
  text-transform: capitalize;
}

.code-is-active, .code-status {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 5px;
  padding: .3rem .5rem;
  color: #fff;
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 14px;
}

.code-is-active .material-icons, .code-status .material-icons {
  margin-right: .5rem;
  font-size: 14px;
  line-height: 20px;
}

.code-is-active.code-active, .code-status.code-active {
  background: #2a7f77;
}

.code-is-active.code-not-active, .code-status.code-not-active {
  background: #ee6e73;
}

.code-is-active.approved, .code-status.approved {
  background: #2a7f77;
}

.code-is-active.pending, .code-status.pending {
  background: #ee6e73;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.alert-success, .alert-danger, .alert-hint {
  background-color: #2a7f77;
  padding: 16px;
  text-transform: capitalize;
}

.alert-success span, .alert-danger span, .alert-hint span {
  display: block;
}

.alert-danger {
  background-color: #ee6e73;
}

.alert-hint {
  background-color: #BA895D;
}

.alert-hint ul {
  margin-top: 1rem;
}

.alert-hint ul li span {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alert-hint ul li span::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #2a7f77;
  margin-right: .5rem;
}

.create-item-btn {
  position: fixed;
  z-index: 5;
  bottom: 1rem;
  right: 1rem;
}

@media (min-width: 768px) {
  .create-item-btn {
    bottom: 3rem;
    right: 3rem;
  }
}

.update-item, .pdf-item, .download-item {
  color: #2a7f77;
  margin-left: .5rem;
  font-size: 18px;
}

.delete-item {
  margin-left: .5rem;
  color: #ee6e73;
  font-size: 20px;
}

.change-password-item {
  margin-right: .5rem;
  color: #BA895D;
}

.check-all-permissions {
  margin-right: 1rem;
}

.main-form .input-field input {
  border-bottom: 1px solid #e6edef;
}

.main-form .input-field input::-webkit-input-placeholder {
  text-transform: capitalize;
  color: rgba(44, 50, 63, 0.7);
  font-size: 15px;
}

.main-form .input-field input:-ms-input-placeholder {
  text-transform: capitalize;
  color: rgba(44, 50, 63, 0.7);
  font-size: 15px;
}

.main-form .input-field input::-ms-input-placeholder {
  text-transform: capitalize;
  color: rgba(44, 50, 63, 0.7);
  font-size: 15px;
}

.main-form .input-field input::placeholder {
  text-transform: capitalize;
  color: rgba(44, 50, 63, 0.7);
  font-size: 15px;
}

.main-form .input-field label {
  text-transform: capitalize;
  color: #2a7f77;
  font-weight: bold;
  font-size: 13px;
  left: 0.75rem;
  right: auto;
}

.main-form .media-block {
  margin-top: 1rem;
  position: relative;
}

.main-form .media-block input[type="file"] {
  display: none;
}

.main-form .media-block .media-view {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.main-form .media-block .media-view:hover a.material-icons {
  opacity: 1;
}

.main-form .media-block .media-view h4 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  background: #fff;
  color: #2a7f77;
  border: 5px dashed #e6edef;
  text-align: center;
  padding: 1rem;
}

.main-form .media-block .media-view h4 span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-form .media-block .media-view img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-form .media-block .media-view a.material-icons {
  position: absolute;
  top: 15px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0 .3rem;
  padding: .3rem;
}

.main-form .media-block .media-view a.material-icons.clear-media {
  left: 15px;
  background-color: #ee6e73;
  color: #fff;
  border-radius: 5px;
}

.main-form .media-block .media-view a.material-icons.view-media {
  color: #2a7f77;
  left: 60px;
}

.main-form .media-block label {
  display: block;
  cursor: pointer;
}

.main-form .media-block label .media-container {
  border-radius: 5px;
  border: 5px dashed #e6edef;
  height: 250px;
  background-color: #F5F7FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2a7f77;
  font-size: 25px;
}

.main-form .media-block label .media-container .media-title {
  display: none;
  padding-left: 1rem;
}

@media screen and (min-width: 576px) {
  .main-form .media-block label .media-container .media-title {
    display: block;
  }
}

.pagination-block div[class^="col"] {
  margin-top: 1rem;
}

.pagination-block .pagination li {
  padding: 0 10px;
}

.pagination-block .pagination li a {
  padding: 0;
  display: block;
}

.filter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1rem;
}

.tabs {
  margin-bottom: 2rem;
}

.tabs .tab {
  padding-right: 1rem;
}

.tabs .tab a {
  padding: 0;
  text-align: left;
  color: #2c323f;
  text-transform: capitalize;
}

.tabs .tab a:focus {
  background-color: transparent !important;
}

.tabs .indicator {
  width: 30px;
}

.collapse-create-codes {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.collapse-create-codes li.active .collapsible-header {
  display: none !important;
}

.collapse-create-codes li .collapsible-header {
  border: none;
  text-transform: capitalize;
}

.collapse-create-codes li .collapsible-body {
  border: none;
  padding: 0;
}

.modal h4, .modal h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
}

.modal h4 {
  font-size: 22px;
}

.modal h3 {
  font-size: 20px;
}

.search-code-content {
  position: relative;
}

.search-code-content__items {
  position: absolute;
  top: 100%;
  z-index: 45;
  left: 0;
  padding: 1rem;
  height: 250px;
  max-height: 250px;
  width: 100%;
  overflow-y: auto;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(44, 50, 63, 0.1);
          box-shadow: 0 2px 4px rgba(44, 50, 63, 0.1);
}

.search-code-content__items.hide {
  display: none;
}

.search-code-content__items.hide ~ .pagination-block {
  display: none;
}

.search-code-content__items button {
  background: none;
  border: none;
  border-bottom: 1px solid #e6edef;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
  color: #2a7f77;
}

.search-code-content__items button:last-child {
  margin: 0;
}

.search-code-content .pagination-block {
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(44, 50, 63, 0.1);
          box-shadow: 0 2px 4px rgba(44, 50, 63, 0.1);
  padding: .5rem 1rem;
  border-top: 1px solid #e6edef;
  width: 100%;
  position: absolute;
  top: calc(100% + 250px);
  z-index: 45;
  left: 0;
}

.loader {
  z-index: 1999;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(44, 50, 63, 0.1);
}

.loader.hide {
  display: none;
}

.loader .progress {
  margin: 0;
}

.small-loader {
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid #ee6e73;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper section.content {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .wrapper section.content {
    margin-left: 300px;
  }
}

.wrapper section.content section.main-content {
  padding: 1.5rem .25rem;
  min-height: calc(100vh - (117.5px));
}

@media screen and (min-width: 576px) {
  .wrapper section.content section.main-content {
    padding: 1.5rem 1rem;
  }
}

.breadcrumbs {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto;
  line-height: normal;
  margin-bottom: 2rem;
}

.breadcrumbs .general-title {
  font-size: 20px;
  color: #2c323f;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0rem 0 1rem;
}

.breadcrumbs .nav-wrapper a, .breadcrumbs .nav-wrapper span {
  color: #2c323f;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
}

.breadcrumbs .nav-wrapper a::before, .breadcrumbs .nav-wrapper span::before {
  color: #2c323f;
  font-size: 15px;
}

.breadcrumbs .nav-wrapper span {
  color: rgba(44, 50, 63, 0.8);
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 50, 63, 0.5);
  z-index: 98;
  display: none;
}

.sidebar {
  width: 300px;
  background-color: #fff;
  border-right: 1px solid #e6edef;
  position: fixed;
  z-index: 99;
  top: 0;
  left: -300px;
  -webkit-transition: .3s;
  transition: .3s;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}

@media screen and (min-width: 992px) {
  .sidebar {
    left: 0;
  }
}

.sidebar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e6edef;
  padding: 0 1.5rem;
  height: 65px;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar__header__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

.sidebar__header__brand img {
  width: 29px;
}

.sidebar__header__brand h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
  padding-left: 5px;
  font-family: "Montserrat-bold";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #2c323f;
}

.sidebar__user {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #e6edef;
}

.sidebar__user__avatar {
  position: relative;
}

.sidebar__user__avatar img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 10px solid rgba(36, 105, 92, 0.2);
}

.sidebar__user__avatar .badge {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #2a7f77;
  text-transform: capitalize;
  font-size: 10px;
}

.sidebar__user__info {
  padding: 0 .5rem;
}

.sidebar__user__info h3, .sidebar__user__info h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.sidebar__user__info h3 {
  padding-top: 1rem;
  font-size: 13px;
  font-family: "Montserrat-bold";
  color: #2a7f77;
  margin: 0;
}

.sidebar__user__info h4 {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  margin-top: 1rem;
  margin-bottom: 0;
}

.sidebar__collapse {
  padding: 1rem;
}

.sidebar__collapse .collapsible {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.sidebar__collapse .collapsible li {
  margin-bottom: .3rem;
  position: relative;
}

.sidebar__collapse .collapsible li.active .collapsible-header {
  background: #2a7f77;
}

.sidebar__collapse .collapsible li.active .collapsible-header div:nth-child(1) .icon i {
  color: #fff;
}

.sidebar__collapse .collapsible li.active .collapsible-header div:nth-child(1) .title {
  color: #fff;
}

.sidebar__collapse .collapsible li.active .collapsible-header div:nth-child(2) i {
  color: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sidebar__collapse .collapsible li.current-page .collapsible-header {
  background: #2a7f77;
}

.sidebar__collapse .collapsible li.current-page .collapsible-header div:nth-child(1) .icon i {
  color: #fff;
}

.sidebar__collapse .collapsible li.current-page .collapsible-header div:nth-child(1) .title {
  color: #fff;
}

.sidebar__collapse .collapsible li.current-page .collapsible-header div:nth-child(2) i {
  color: #fff;
}

.sidebar__collapse .collapsible li .collapsible-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem .5rem;
  border-radius: 10px;
  border-bottom: none;
}

.sidebar__collapse .collapsible li .collapsible-header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__collapse .collapsible li .collapsible-header div span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__collapse .collapsible li .collapsible-header div:nth-child(1) span.title {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
  color: #2c323f;
}

.sidebar__collapse .collapsible li .collapsible-header div:nth-child(1) i {
  font-size: 1rem;
  margin-right: .5rem;
  color: #2c323f;
}

.sidebar__collapse .collapsible li .collapsible-header div:nth-child(2) i {
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0;
  font-size: 1rem;
}

.sidebar__collapse .collapsible li .collapsible-body {
  padding: .5rem 0;
  border-bottom: 0;
}

.sidebar__collapse .collapsible li .collapsible-body .collapse-list .collapse-item .collapse-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5rem 2rem;
  color: #2c323f;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: capitalize;
}

.sidebar__collapse .collapsible li .collapsible-body .collapse-list .collapse-item .collapse-link:hover {
  color: #2a7f77;
}

.sidebar__collapse .collapsible li .collapsible-body .collapse-list .collapse-item .collapse-link:hover::before {
  background: #2a7f77;
}

.sidebar__collapse .collapsible li .collapsible-body .collapse-list .collapse-item .collapse-link::before {
  content: '';
  display: block;
  height: 1px;
  width: 8px;
  background: #2c323f;
  margin-right: 10px;
}

.navbar {
  height: 65px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #e6edef;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
}

.navbar .navbar-collapse {
  margin-right: 1.5rem;
}

.navbar .navbar-collapse button {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar .navbar-collapse button span {
  margin-bottom: .24rem;
  display: block;
  height: 2px;
  background: #2a7f77;
}

.navbar .navbar-collapse button span:nth-child(1) {
  width: 15px;
}

.navbar .navbar-collapse button span:nth-child(2) {
  width: 25px;
}

.navbar .navbar-collapse button span:nth-child(3) {
  width: 20px;
  margin-bottom: 0;
}

.navbar .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .search-box button {
  cursor: pointer;
  background: none;
  border: none;
}

.navbar .search-box button span {
  margin: 0;
  color: #2a7f77;
}

.navbar .search-box__container {
  position: relative;
}

.navbar .search-box__container input {
  padding: 1rem;
  border: none;
  display: none;
}

.navbar .search-box__container input::-webkit-input-placeholder {
  color: #2a7f77;
  text-transform: capitalize;
  font-weight: 600;
}

.navbar .search-box__container input:-ms-input-placeholder {
  color: #2a7f77;
  text-transform: capitalize;
  font-weight: 600;
}

.navbar .search-box__container input::-ms-input-placeholder {
  color: #2a7f77;
  text-transform: capitalize;
  font-weight: 600;
}

.navbar .search-box__container input::placeholder {
  color: #2a7f77;
  text-transform: capitalize;
  font-weight: 600;
}

.navbar .search-box__container input:focus {
  outline: none;
}

@media screen and (min-width: 576px) {
  .navbar .search-box__container input {
    display: block;
  }
}

.navbar .search-box__container ul {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(44, 50, 63, 0.1);
          box-shadow: 0 2px 4px rgba(44, 50, 63, 0.1);
  z-index: 40;
}

.navbar .search-box__container ul li {
  width: 100%;
}

.navbar .search-box__container ul li a {
  margin: .2rem 0;
  border-left: 3px solid #2a7f77;
  color: #2a7f77;
  text-transform: capitalize;
  font-weight: 500;
}

.navbar .user-control {
  margin-left: auto;
}

.navbar .user-control .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .user-control .nav-list .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.6;
  padding: .5rem;
  border-radius: 5px;
}

@media screen and (min-width: 576px) {
  .navbar .user-control .nav-list .nav-item .nav-link {
    margin-right: .5rem;
  }
}

.navbar .user-control .nav-list .nav-item .nav-link.logout-link {
  margin-right: 0;
  background: rgba(36, 105, 92, 0.1);
  margin-left: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar .user-control .nav-list .nav-item .nav-link.logout-link span.text {
  display: none;
  padding-left: .5rem;
  color: #2a7f77;
  font-weight: bold;
  text-transform: capitalize;
}

@media screen and (min-width: 576px) {
  .navbar .user-control .nav-list .nav-item .nav-link.logout-link span.text {
    display: block;
  }
}

.navbar .user-control .nav-list .nav-item .nav-link:hover {
  background: none;
  background: rgba(36, 105, 92, 0.1);
}

.navbar .user-control .nav-list .nav-item .nav-link span {
  color: #2a7f77;
}

.footer {
  background: #fff;
  padding: 1rem 0;
  text-align: center;
  text-transform: capitalize;
}

.footer a {
  display: inline-block;
  margin-left: .5rem;
  font-weight: bold;
  color: #2a7f77;
}

.main-dashboard .general-widgets .card {
  padding: .5rem 1.5rem;
  border-radius: 5px;
  overflow: hidden;
}

.main-dashboard .general-widgets .card {
  background-color: #2a7f77;
}

.main-dashboard .general-widgets .card.sec {
  background-color: #BA895D;
}

.main-dashboard .general-widgets .card h4, .main-dashboard .general-widgets .card h5 {
  color: #fff;
  margin: 1rem 0;
}

.main-dashboard .general-widgets .card h4 {
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}

.main-dashboard .general-widgets .card h5 {
  font-weight: bold;
  font-size: 23px;
}

.main-dashboard .general-widgets .card span.material-icons {
  position: absolute;
  bottom: .7rem;
  right: .7rem;
  font-size: 40px;
  -webkit-transition: .5s;
  transition: .5s;
  color: rgba(255, 255, 255, 0.3);
}

.main-dashboard .general-widgets .card:hover span.material-icons {
  -webkit-transform: scale(1.3) rotate(-5deg);
          transform: scale(1.3) rotate(-5deg);
}

.auth {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .auth {
    width: 400px;
    margin: 0 auto;
  }
}

.auth .card-panel {
  width: 100%;
}

.auth form {
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(44, 50, 63, 0.1);
          box-shadow: 0 2px 4px rgba(44, 50, 63, 0.1);
  padding: 1rem;
}

.auth form h1 {
  font-size: 1.5rem;
  margin: 0;
  text-transform: capitalize;
}

.auth form h4 {
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: .5rem;
}

.auth form .contain-btn {
  position: relative;
}

.auth form .contain-btn .toggle-password {
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  right: .8rem;
  top: .8rem;
}

.auth form .contain-btn .toggle-password span {
  color: #4b4747;
}
/*# sourceMappingURL=main-ltr.css.map */