.footer {
  background: get-color(light);
  padding: 1rem 0;
  text-align: center;
  text-transform: capitalize;
  a {
    display: inline-block;
    margin-#{$start}: .5rem;
    font-weight: bold;
    color: get-color(main);
  }
}