.navbar {
  height: 65px;
  box-shadow: none;
  border-bottom: 1px solid get-color(border);
  background: get-color(light);
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  .navbar-collapse {
    margin-#{$end}: 1.5rem;
    button {
      background: none;
      border: none;
      cursor: pointer;
      span {
        margin-bottom: .24rem;
        display: block;
        height: 2px;
        background: get-color(main);
        &:nth-child(1) {
          width: 15px;
        }
        &:nth-child(2) {
          width: 25px;
        }
        &:nth-child(3) {
          width: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
  .search-box {
    display: flex;
    align-items: center;
    button {
      cursor: pointer;
      background: none;
      border: none;
      span {
        margin: 0;
        color: get-color(main);
      }
    }
    &__container {
      position: relative;
      input {
        padding: 1rem;
        border: none;
        display: none;
        &::placeholder {
          color: get-color(main);
          text-transform: capitalize;
          font-weight: 600;
        }
        &:focus {
          outline: none;
        }
        @include smallScreen {
          display: block;
        }
      }
      ul {
        display: none;
        position: absolute;
        #{$start}: 0;
        width: 100%;
        background: get-color(light);
        box-shadow: 0 2px 4px rgba(get-color(dark), .1);
        z-index: 40;
        li {
          width: 100%;
          a {
            margin: .2rem 0;
            border-#{$start}: 3px solid get-color(main);
            color: get-color(main);
            text-transform: capitalize;
            font-weight: 500;
          }
        }
      }
    }
  }
  .user-control {
    margin-#{$start}: auto;
    .nav-list {
      display: flex;
      align-items: center;
      .nav-item {
        .nav-link {
          display: flex;
          align-items: center;
          line-height: 1.6;
          padding: .5rem;
          border-radius: 5px;
          @include smallScreen {
            margin-#{$end}: .5rem;
          }
          &.logout-link {
            margin-#{$end}: 0;
            background: rgba(36, 105, 92, 0.1);
            margin-#{$start}: 1rem;
            padding-right: 1rem;
            padding-left: 1rem;
            span.text {
              display: none;
              padding-#{$start}: .5rem;
              color: get-color(main);
              font-weight: bold;
              text-transform: capitalize;
              @include smallScreen {
                display: block;
              }
            }
          }
          &:hover {
            background: none;
            background: rgba(36, 105, 92, 0.1);
          }
          span {
            color: get-color(main)
          }
        }
      }
    }
  }
}